.footer {
  background-color: #ffffff;
}
.form_profile {

}
.header {
	background-color: #ffffff;
  padding-top: 2.15em;
  padding-bottom: 1.85em;
	&__nav {
		font-size: .875em;
    font-weight: 300;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: baseline;
		}
		li {
      margin-left: 2.65em;
      margin-right: 2.65em;
		}
		a {
      display: block;
			color: #435993;
      line-height: 1.1;
			text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-color .3s ease, color .2s ease;
			&.active {
				color: #1c1c1c;
			}
      &:hover {
        border-bottom-color: currentColor;
      }
      &:active {
        color: #1c1c1c;
      }
		}
	}
	&__burger {
		display: none;
	}
}