@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2'),
  url('../fonts/RobotoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoLight.woff2') format('woff2'),
	url('../fonts/RobotoLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoThin.woff2') format('woff2'),
	url('../fonts/RobotoThin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
